.full-screen-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin: 0; /* Elimina márgenes para evitar desplazamientos */
}

/* Estilo para el contenedor, mantiene tu estilo actual */
.container {
  background-color: rgb(231, 238, 238);
  padding: 1%;
  margin: auto;
  margin-top: 10px;
  width: 100%; /* Asegura que el contenedor ocupe el ancho disponible */
  max-width: 600px; /* Establece un ancho máximo para evitar que se estire demasiado en pantallas grandes */
}
/*
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; 
}
*/

.titulo{
  text-align: center;
}
.button:hover{
  background-color: #FB7E29; /* el botón cambia a este color cuando se pone el cursor encima)*/
  color: #fff; /* el texto del botón cambia a este color cuando se pone encima el cursor)*/
  }
.btn{
  margin: 10px;
}
form{
  
}
.form-outline {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se coloquen en una columna */
}

.form-label {
  margin-bottom: 0.5rem; /* Añade espacio debajo del label */
}

textarea {
  width: 100%; /* Asegura que el textarea ocupe todo el ancho disponible */
  padding: 0.5rem; /* Añade relleno interno para el textarea */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  max-width: 500px;
}
.input-nombre{
  max-width: 500px;
}

