<div class="form-container">
    <mat-card>
      <mat-card-title class="form-title">Inscripción estudiantes</mat-card-title>
      <form>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" required>
        </mat-form-field>
  
        <mat-form-field  class="form-field">
          <mat-label>Facultad</mat-label>
          <input matInput placeholder="Facultad">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Programa</mat-label>
          <input matInput placeholder="Programa">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Curso</mat-label>
          <input matInput placeholder="Curso">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Grupo</mat-label>
          <input matInput placeholder="Grupo">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Género</mat-label>
          <mat-select>
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="femenino">Femenino</mat-option>
            <mat-option value="otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Edad</mat-label>
          <input matInput type="number" placeholder="Edad">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Perfil</mat-label>
          <input matInput placeholder="Perfil">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Estamento</mat-label>
          <input matInput placeholder="Estamento">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" placeholder="Correo electrónico" required>
        </mat-form-field>        
        <div class="form-buttons">
          <button mat-raised-button color="primary">Aceptar</button>
          <button mat-raised-button color="warn">Cancelar</button>
        </div>
      </form>
    </mat-card>
  </div>
  