
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="navegacion">
      <div class="encabezadonavbar">
        <img src="./assets/imagesSystem/Logo-Universidad-del-Cauca-horizontal-B.png">
      </div>
      <div class="contenidonavbar">
      <mat-nav-list>
        <a mat-list-item href="#" class="nav-item" style="color: white;" >
          <mat-icon>home</mat-icon>
          <span class="text-body-small-r opcion-espaciado-p">Home</span>
        </a>
        <a mat-list-item (click)="redirectionTo('lista-instructores')" class="nav-item" *ngIf="perfil === 'Coordinador'" >
          <mat-icon>person</mat-icon>
          <span class="text-body-small-r opcion-espaciado-p">Instructores</span>
        </a>

        <a mat-list-item (click)="redirectionTo('reportes')" class="nav-item" *ngIf="perfil === 'Coordinador'" >
          <mat-icon>tune</mat-icon>
          <span class="text-body-small-r opcion-espaciado-p">Reportes</span>
        </a>
        <a mat-list-item (click)="redirectionTo('info-instructor')" class="nav-item" *ngIf="perfil === 'Instructor'">
          <mat-icon>person</mat-icon>
          <span class="text-body-small-r opcion-espaciado-p">Mi información</span>
        </a>
        <a mat-list-item (click)="redirectionTo('info-estudiante')" class="nav-item" *ngIf="perfil === 'Estudiante'" >
          <mat-icon>person</mat-icon>
          <span class="text-body-small-r opcion-espaciado-p">Mi información</span>
        </a>
        
      </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
      </button>
      <!--<span>Deporte para todos</span>-->
      <div class="navbar-left">
        <a (click)="redirectionTo('home')">
          <!--<img src="./assets/imagesSystem/logo_unicauca.png" alt="Logo" class="logo" width="110px" height="">-->
          <mat-icon>home</mat-icon>
        </a>
      </div>
      <div class="navbar-right">
        <ul>
          <li><a (click)="redirectionTo('')">Inicio</a></li>
          <li><a (click)="redirectionTo ('')">Noticias</a></li>
          <li><a (click)="redirectionTo ('https://vicecultura.unicauca.edu.co/viceculturav2/divisiones/deporte/deportiva')">Nosotros</a></li>
          <li><a (click)="redirectionTo('https://vicecultura.unicauca.edu.co/viceculturav2/divisiones/deporte/deportiva')">Contáctanos </a></li>
          <li><span class="rol-tag" *ngIf="perfil">Rol: {{ perfil }}</span></li>
          <li><a (click)="cerrarSesion()"> Cerrar Sesión
              <!--<mat-icon>login</mat-icon>  Icono de inicio de sesión --> </a></li>
        </ul>
      </div>
    </mat-toolbar>
    <div class="contenido">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>