<!--Footer-->
<div class="con container-fluid">
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="./assets/imagesSystem/logo_unicauca.png" alt="">
        </div>
        <div class="col-md-4 col-12 text-center">
            <h6 class="h6">División de Gestión de la Recreación y el Deporte</h6>
            <h6 class="h6">recredeportes@unicauca.edu.co</h6>
            <h6 class="h6">Tel: 8209800 ext. 2500.</h6>
            <p class="h6">Universidad del Cauca</p>
        </div>
    </div>
</div>