
a{
    cursor:pointer;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #000066; 
    color: white;
}

.navbar-left {
    flex: 1; 
}

.navbar-right ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.navbar-right ul li {
    display: inline; 
    margin-left: 20px; 
}

.navbar-right ul li:first-child {
    margin-left: 0; 
}
.navbar-right ul li a mat-icon {
    margin-right: 8px;
}

.rol-tag {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
    font-style: italic;
}