<!--Header-->
<nav class="navbar">
  <div class="navbar-left">
    <a (click)="redirectionTo('home')">
      <img src="./assets/imagesSystem/logo_unicauca.png" alt="Logo" class="logo" width="110px" height="">
    </a>
  </div>
  <div class="navbar-right">
      <ul>
          <li><a (click)="redirectionTo('')">Inicio</a></li>
          <li><a (click)="redirectionTo ('')">Noticias</a></li>
          <li><a (click)="redirectionTo ('https://vicecultura.unicauca.edu.co/viceculturav2/divisiones/deporte/deportiva')">Nosotros</a></li>
          <li><a (click)="redirectionTo('https://vicecultura.unicauca.edu.co/viceculturav2/divisiones/deporte/deportiva')">Contáctanos </a></li>
          <li *ngIf="perfil"><span class="rol-tag">Rol: {{ perfil }}</span></li>
          <li *ngIf="!perfil"><a (click)="redirectionTo('login')">Iniciar Sesión</a></li>
          <li *ngIf="perfil"><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
  </div>
</nav>