<!--Header-->

<nav class="navbar">
  <div class="navbar-left">
    <a (click)="redirectionTo('home')">
      <img src="./assets/imagesSystem/logo_unicauca.png" alt="Logo" class="logo" width="110px" height="">
    </a>
  </div>
  <div class="navbar-right">
      <ul>
          <li><a (click)="redirectionTo('inscripciones')">Inicio</a></li>
          <li><a (click)="redirectionTo ('cursos_deportivos')">Noticias</a></li>
          <li><a (click)="redirectionTo ('menu')">Nosotros</a></li>
          <li><a (click)="redirectionTo('nuevoCursoCategoria')">Contáctanos </a></li>
          <li><a  (click)="redirectionTo('formulario')">Formulario</a></li>
          <li><a  (click)="redirectionTo('login')"> Iniciar Sesión
            <!--<mat-icon>login</mat-icon>  Icono de inicio de sesión --> </a></li>
      </ul>
  </div>
</nav>