<!--Header-->

<nav class="navbar">
  <div class="navbar-left">
    <a (click)="redirectionTo('home')">
      <img src="./assets/imagesSystem/logo_unicauca.png" alt="Logo" class="logo" width="110px" height="">
    </a>
  </div>
  <div class="navbar-right">
      <ul>
          <li><a (click)="redirectionTo('inscripciones')">Inicio</a></li>
          <li><a (click)="redirectionTo ('cursos_deportivos')">Noticias</a></li>
          <li><a >Nosotros</a></li>
          <li><a >Contáctanos</a></li>
          <li><a >Iniciar Sesión</a></li>
      </ul>
  </div>
</nav>

<!--
  <nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="col-md-4">
      <a (click)="redirectionTo('home')">
        <img class="" src="./assets/imagesSystem/logo_unicauca.png" width="100px" height="">
      </a>
    </div>
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item px-2">
          <a class="nav-link active" (click)="redirectionTo('inscripciones')">Inicio</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link active" (click)="redirectionTo ('cursos_deportivos')">Noticias</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link active">Nosotros</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link active">Contactanos</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link active" (click)="redirectionTo ('cursos_deportivos')">Habilidades</a>
        </li>
        <li class="nav-item px-10">
          <a class="nav-link active" href="#">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->