.navbar {
    color: #060606; 
    padding: 1rem;
    background: #000066;
}

a{
    cursor:pointer;
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño del texto del logo */
    color: #fff; /* Color del texto del logo */
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding: 0 1rem; /* Espacio alrededor de los elementos del navbar */
}

.navbar-nav .nav-item a {
    color: #fff; /* Color del texto de los enlaces del navbar */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: color 0.3s; /* Transición suave del color del texto */
}