.containerButons {
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 10px;
}

img,
p {
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Cambia los valores según el efecto de sombra que desees */
}

/*Tarjetas*/
.mycard {
  margin: 10px;
}

.card_title {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  color: rgb(176, 7, 7);
}

.text-info {
  text-align: justify;
  justify-content: center;
  background-color: rgb(240, 242, 242);
}

.contenido {
  border: rgb(219, 218, 218) 0.5px solid;
  background-color: rgb(249, 250, 250);
  padding: 10px;
}

p {
  text-align: center;
  color: black;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Cambia los valores según el efecto de sombra que desees */
}

.no-underline {
  text-decoration: none;
}

.titlleModal {
  text-align: center;
}

.titlleModal {
  text-align: center;
}




.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Asegúrate de que el z-index sea alto */
}

.menu-item {
  padding: 10px 20px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

/* Estilos para el menú*/
.mat-menu-item {
  font-size: 0.9em;
  color: #b51919;
}

.mat-icon {
  color: #181818;
  border: #050505 solid 0px;
}

mat-icon-button {
  color: #b11c1c;
  padding: 8px;
}

mat-icon-button:hover {
  background-color: rgba(197, 11, 11, 0.08);
  border-radius: 20%;
  border: solid 0px;
}

.mi-dialogo {
  border-radius: 16px;
}

.mat-dialog-container {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}