<app-sidenav>
    <div class="cabecero">
        <h1>Grupos: {{ categoria }}, {{titulo}}</h1>
        <button class="btnAgregar" *ngIf="perfil === 'Coordinador'" (click)="nuevoGrupo()">
            Nuevo Grupo +
        </button>
    </div>


    <div class="content-tarjet">
        <mat-grid-list [cols]="colsize" rowHeight="460">
            <mat-grid-tile *ngFor="let item of grupos" [colspan]="1" [rowspan]="1">
                <mat-card class="mycard shadow fixed-card">

                    <div class="img-container" (click)="alumnosGrupo(categoria!, titulo!, item.anio!, item.iterable!)">
                        <img *ngIf="!!item.imagenBase64; else imagenPorDefecto"
                            [src]="'data:' + item.tipoArchivo + ';base64,' + item.imagenBase64" mat-card-image
                            alt="Imagen de grupo" />

                        <ng-template #imagenPorDefecto>
                            <img class="img-container" src="./assets/imagesSystem/catDeportes.jpg" mat-card-image
                                alt="Imagen por defecto" />
                        </ng-template>
                    </div>

                    <mat-card-content class="contenido">
                        <div class="btnTitulo">
                            <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu"
                                *ngIf="perfil === 'Coordinador'">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <mat-card-title class="card_title title-three-nrs">
                                {{ item.anio }}-{{ item.periodo }} · Grupo {{ letraDeIterable(item.iterable) }}
                            </mat-card-title>
                        </div>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onUpdate(item.anio!, item.iterable!)">
                                <mat-icon>edit</mat-icon>
                                <span>Actualizar</span>
                            </button>

                            <button mat-menu-item (click)="gestionarHorarios(item)">
                                <mat-icon>schedule</mat-icon>
                                <span>Gestionar horarios</span>
                            </button>

                            <button mat-menu-item (click)="onDelete()">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>


                        <div class="horarios">
                            <p> Instructor: {{item.nombreInstructor}}</p>
                            <ng-container *ngIf="item.horarios as horarios; else sinHorarios">
                                <ng-container *ngIf="horarios.length > 0; else sinHorarios">
                                    <p *ngFor="let h of horarios">
                                        {{h.dia}} {{h.horaInicio}} - {{h.horaFin}} {{h.escenario}}
                                    </p>
                                </ng-container>
                            </ng-container>
                            <ng-template #sinHorarios>
                                <p>Horario por definir</p>
                            </ng-template>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btnInscripcion"
                                *ngIf="perfil === 'Estudiante'"
                                (click)="inscribirseAcurso()">
                                {{ inscrito ? "" : "Inscribirme" }}
                            </button>
                            <button class="btnInscripcion" *ngIf="perfil === 'Coordinador'"
                                (click)="inscribirseAcurso()">
                                Abrir inscripciones
                            </button>
                            <ng-template #inscripcionCerrada>and fecha===false; else inscripcionCerrada 
                                <p>inscripciones cerradas</p>
                            </ng-template>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</app-sidenav>