<div style="width: 80%; margin: 0 auto">
    <mat-grid-list [cols]="colsize" rowHeight="330">
        <mat-grid-tile *ngFor="let item of listaEscenarios" [colspan]="1" [rowspan]="1" [style.background]="">
            <mat-card class="mycard shadow">
                <img mat-card-image src="./assets/imagesSystem/deporte.jpg" alt="" (click)="verEstudiantesGrupo()" />
                <mat-card-content class="contenido">
                    <!-- Icono de configuración con el menú -->
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onUpdate()">
                            <mat-icon>edit</mat-icon>
                            <span>Actualizar</span>
                        </button>
                        
                        <button mat-menu-item (click)="onDelete()">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                    <mat-card-title class="card_title">Grupo x
                    </mat-card-title>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            style="border: none; background-color: transparent; color: black">
                            Ver información
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="container d-flex justify-content-center">
        <button class="btn btn-primary" (click)="nuevoGrupo()">Nuevo Grupo +</button>
    </div>
</div>